{% if not settings.DEBUG %}
<noscript><img src="https://nsa.stavros.io/ingress/de5a9062-c300-4065-88c9-14e5cf1c182b/pixel.gif"></noscript>
<script src="https://nsa.stavros.io/ingress/de5a9062-c300-4065-88c9-14e5cf1c182b/script.js"></script>
{% endif %}
