{% extends "base.html" %}

{% load humanize %}

{% block title %}{{ image.title }}{% endblock %}
{% block ogtitle %}{{ image.title }}{% endblock %}

{% block head %}
<script>
document.addEventListener('DOMContentLoaded', () => {

    let editForm    = document.querySelector('[data-form="edit-title"]');
    let editButton  = document.querySelector('[data-action="edit"]');
    let imageTitle  = document.querySelector('#image-title');
    let inputField  = document.querySelector('[data-form="edit-title"] input');

    var editModeEnabled = false;
    var originalTitle = "{{ image.title }}";

    let enableEditMode = () => {

        if(editModeEnabled)
            return;

        editModeEnabled = true;
        imageTitle.contentEditable = true;
        imageTitle.focus();
        editButton.innerHTML = '<i class="fas fa-check-circle"></i>';
    };
    let disableEditMode = () => {

        if(!editModeEnabled)
            return;

        editModeEnabled = false;
        imageTitle.contentEditable = false;
        imageTitle.textContent = originalTitle;
        editButton.innerHTML = '<i class="far fa-edit"></i>';
    };
    let editButtonClicked = () => {

        if(editModeEnabled)
            editForm.submit();
        else
            enableEditMode();
    };

    imageTitle.addEventListener('click', enableEditMode);
    editButton.addEventListener('click', editButtonClicked);

    imageTitle.addEventListener('keydown', (event) => {
        if(event.keyCode == 13) {
            editForm.submit();
            event.preventDefault();
            return false;
        }
    });

    document.body.addEventListener('keydown', (event) => {
        if (event.keyCode == 27) {
            disableEditMode();
        }
    });

    document.body.addEventListener('click', (event) => {

        if(!editModeEnabled)
            return;

        let target = event.target;

        if(target == imageTitle || target == editButton)
            return;

        disableEditMode();
    });

    imageTitle.addEventListener('keyup', (event) => {
        inputField.value = imageTitle.innerText;
    });
});
</script>
{% endblock %}

{% block page-class %}image{% endblock %}

{% block content %}
    <section class="section-grey section-top-border" id="features">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12-->
                <div class="col-md-12 text-center">

                    <h2 class="section-title">
                        <div id="image-title">{{ image.title }}</div>
                        {% if request.user == image.user or request.user.is_superuser %}
                        <button data-action="edit" title="Edit image title" class="btn btn-secondary">
                            <i class="far fa-edit"></i>
                        </button>
                        {% if request.user.is_superuser %}
                        <button onclick="location.href = '{% url 'admin:main_image_change' image.id %}';"
                            title="Image admin" type="button" class="btn btn-secondary">
                            <i class="fas fa-images"></i>
                        </button>
                        <button onclick="location.href = '{% url 'admin:main_user_change' image.user.id %}';"
                            title="User admin " type="button" class="btn btn-secondary">
                            <i class="fas fa-user-cog"></i>
                        </button>
                        {% endif %}
                        <form
                            onsubmit="return confirm('Are you sure you want to delete this embarrassment of an image?');"
                            method="post"
                            action="{% url "main:image-delete" image.id %}"
                            >
                            <button title="Delete image" type="submit" class="btn btn-secondary">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                        {% endif %}
                    </h2>

                    {% if request.user.is_superuser or image.user == request.user %}
                    <form data-form="edit-title" style="display: none;" method="post" action="{% url "main:image-page" image.id %}">
                        <input maxlength="200" type="text" name="title" value="{{ image.title }}" />
                    </form>
                    {% endif %}
                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

        <div class="image-wrapper">
            <a href="{{ image.get_image_url }}"><img src="{% url "main:image-show-resized" image.id 1280 image.extension %}" /></a>
        </div>

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12-->
                <div class="col-md-12 text-center padding-bottom-10">
                    <p>
                    Viewed {{ image.views }} times
                    </p>
                </div>
                <!--end col-md-12 -->

                <!--begin col-md-12-->
                <div class="col-md-12 text-center padding-bottom-10 link-boxes">
                    <h4>Image links</h4>
                    <p>
                        <label for="id_original">Original size:</label>
                        <input id="id_original" type="text" readonly="true" onclick="this.select()" value="https://{{ request.site.domain }}{{ image.get_image_url }}"></input>
                    </p>

                    <p>
                        <label for="id_resized">Resized:</label>
                        <input id="id_resized" type="text" readonly="true" onclick="this.select()" value="https://{{ request.site.domain }}{% url "main:image-show-resized" image.id 1280 image.extension %}"></input>
                    </p>
                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
{% endblock %}
