{% extends "base.html" %}

{% load staticfiles human_size %}

{% block title %}You paid{% endblock %}
{% block ogtitle %}You paid{% endblock %}

{% block content %}
  	<!--begin services section -->
    <section class="section-grey section-top-border" id="features">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <div class="col-md-8 offset-md-2 text-center padding-bottom-10 left-text">
                    <h3>You paid?</h3>

                    <p>
                    Oh wow, you paid. After everything I've said, you went ahead and actually gave me money. That took
                    a unique mix of bravery and foolishness. I'm almost impressed.
                    </p>

                    <p>
                    Wait... y- you didn't buy the site, did you?
                    </p>

                    <p>
                    <strong>Total available space:</strong> {{ request.user.total_space|human_size }}
                    <br>
                    <strong>Free space:</strong> {{ request.user.total_space_left|human_size }}
                    <br>
                    <strong>Upgrade expires:</strong> {{ request.user.upgraded_until }}
                    <br>
                    </p>

                    <p>
                    {% if request.GET.p == "c" %}
                    Since you paid with cryptocurrency, your payment might take a while to confirm. Don't worry, it'll
                    get there. Don't upload any dodgy shit, I'm watching you.
                    {% endif %}
                    </p>
                </div>
            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end services section -->
{% endblock %}
