{% extends 'base.html' %}

{% load markdown_deux_tags %}

{% block title %}{{ post.title }}{% endblock %}
{% block ogtitle %}{{ post.title }}{% endblock %}

{% block content %}
<!--begin services section -->
<section class="section-grey section-top-border" id="features">

<!--begin container -->
<div class="container blog">

    <!--begin row -->
    <div class="row">

        <!--begin col-md-8-->
        <div class="col-md-8 offset-md-2 text-center padding-bottom-10 left-text">
            <article itemscope itemtype="http://schema.org/Article">
            <header itemprop="name">
            <a href="{{ post.get_absolute_url }}">
                <h1>{{ post.title }}</h1>
            </a>
            </header>

            <p class="publish-data">
            Posted on
            <time itemprop="datePublished" datetime="{{ post.post_date|date:'Y-m-d' }}">{{ post.post_date|date:"F d, Y" }}</time>.
            </p>

            <span itemprop="articleBody">{{ post.bodytext|markdown }}</span>
            </article>
        </div>
        <!--end col-md-12 -->

    </div>
    <!--end row -->

</div>
<!--end container -->

</section>
<!--end services section -->
{% endblock %}
